.nav-link {
    margin-right: 1em !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.page-footer {
    background-color: lightgrey;
    color: black;
    padding: 60px 110px 30px;
}

.footer-copyright {
    color: #666;
    padding: 40px 0;
}

